body,
ul,
li,
input,
textarea,
p {
    margin: 0;
    padding: 0
}
html{
    padding: 20px;
    min-width: 1200px;
}
body {
    font: 12px/1.5 "simsun", "Miscrosoft YaHei", Arial, Helvetica, sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none
}

img {
    border: 0;
    vertical-align: middle;
}

select,
input {
    vertical-align: middle;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td {
    border: 1px solid #b8c8df;
}

.icon {
    width: 20px;
    height: 20px;
    background-image: url(http://vs.thsi.cn/js/jquery-ui-1.8.6.20111104/css/redmond/images/ui-icons_d8e7f3_256x240.png);
}

.icon:hover {
    background-image: url(http://vs.thsi.cn/js/jquery-ui-1.8.6.20111104/css/redmond/images/ui-icons_217bc0_256x240.png);
}

.flexEnd {
    justify-content: flex-end;
}

.btn {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    cursor: pointer;
    border: 1px solid #c5dbec;
    border-radius: 5px;
    background: #dfeffc url(http://vs.thsi.cn/js/jquery-ui-1.8.6.20111104/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #2e6e9e;
}

.guideBar {
    height: 37px;
    background: url(http://i.thsi.cn/images/activity/acmake/homepage/title-cn.gif) left top repeat-x;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.guide-list {
    flex: 1;
    height: 37px;
    display: flex;
    color: #045195;
    margin-left: 30px
}

.guide-list li {
    width: 90px;
    line-height: 40px;
    text-align: center;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.guide-list .active {
    background: url(http://i.thsi.cn/images/activity/acmake/homepage/title-bg.gif) left bottom no-repeat;
    color: #000;
    cursor: default;
}

.warning {
    position: absolute;
    height: 37px;
    line-height: 18px;
    top: 0;
    left: 250px;
    color: red;
    font-size: 12px;
    font-family: 'miscrosoft YaHei';
}

.handleBar {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin: 10px 0 5px;
}

.handleBar li {
    margin-left: 10px;
}

.mainBox {
    display: flex;
    align-items: stretch;
}

.leftBox {
    margin-right: 35px;
    position: relative;
    margin-top: 10px;
    display: flex;
}

.left-zoom {
    position: absolute;
    top: 0;
    right: -26px;
    width: 15px;
    height: 40px;
    padding: 5px;
    line-height: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #c5dbec;
    cursor: pointer;
    background: #dfeffc url(http://vs.thsi.cn/js/jquery-ui-1.8.6.20111104/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 100% 100% repeat-x;
    font-weight: bold;
    color: #2e6e9e;
}

.container {
    border: 1px solid #b8c8df;
    width: 205px;
    padding: 5px 0;
    color: #666;
    overflow: hidden;
}

.container .container-title {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 5px 5px;
    padding-left: 5px;
    border-bottom: 1px solid #b8c8df;
    color: #000;
}

.container p {
    height: 24px;
    line-height: 24px;
    display: flex;
    margin: 10px 10px 10px 5px;
}

.container label {
    width: 75px;
    text-align: right;
}

.container input,
.container select {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0 5px;
    flex: 1;
    min-width: 40px;
}

.container select {
    padding: 0;
}

.container .btn {
    margin-left: 10px;
}

.tableBox {
    flex: 1 0 900px;
    /* overflow: hidden; */
}

tr:nth-child(odd) {
    background: #f4f7f8;
}

tr:nth-child(even) {
    background: #e2effc;
}

tr:hover {
    background: #fff6d9;
}

th {
    background-color: #c9e2fc;
    padding: 10px 0;
    vertical-align: top;
    color: #045195;
    font: bold 12px 宋体;
    margin-top: 2px;
    line-height: 20px;
}

td {
    color: #555;
    font: bold 12px 宋体;
    text-align: center;
    margin-top: 2px;
    padding: 10px 0;
    line-height: 18px;
}

td a{
    color: #555;
}

td .btn {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border-radius: 0;
    border-right: 0;
}

td .btn:nth-child(1) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

td .btn:nth-last-child(1) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 1px solid #c5dbec;
}

.pagingBox {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin-top: 10px;
}

.pagingBox ul {
    display: flex;
}

.pagingBox span,
.pagingBox li {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border: 1px solid #c5dbec;
    border-left: none;
    background: #e2effc;
    font-weight: bold;
    color: #2e6e9e;
    cursor: default;
}

.pagingBox .paging-enable {
    cursor: pointer;
}

.pagingBox .paging-current {
    background: #c9e2fc !important;
    cursor: default;
}

.pagingBox .paging-enable:hover {
    background: #c6e1f7;
}

.pagingBox .pageNum {
    width: 40px;
    padding: 0 5px;
    margin-left: 3px;
    height: 20px;
    line-height: 20;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pagingBox .jumpPage {
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    border-color: #a9a9a9;
    border-left: none;
}

.pagingBox .jumpPage:hover {
    background: #c6e1f7;
}

.pagingBox span:nth-child(1) {
    border-left: 1px solid #c5dbec;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pagingBox span:nth-last-child(1) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.mask {
    background: #aaaaaa;
    opacity: 0.3;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popwin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    z-index: 200;
    border-radius: 5px;
    border: 1px solid #a6c9e2;
    display: none;
}

.popwin-head {
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    margin: 3px;
    background: #87b6d9;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.popwin-head-close {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 7px;
    cursor: pointer;
}

.popwin-head-close:hover {
    border-radius: 5px;
    background: #d0e5f5;
}

.popwin-head-close i {
    /* margin: 2px; */
    background-position: -94px -126px;
    display: inline-block;
}

.popwin-head-close i:hover {
    background-position: -94px -126px;
}

.popwin-container {
    padding: 10px;
}

.popwin-container p {
    height: 24px;
    line-height: 24px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.popwin-container label {
    display: inline-block;
    width: 80px;
}

.popwin-container input {
    padding: 0 5px;
}

.popwin-container input,
.popwin-container select {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 150px;
    margin-right: 10px;
    border: 1px solid #999;
}

.popwin-push-container {
    display: flex;
    flex-wrap: wrap;
}

.openImg {
    height: auto !important;
    margin-top: 3px;
    border: none !important;
}


/* 开发者模式样式 */

.developBox {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.developBox textarea {
    padding: 10px 3px;
    margin-top: 5px;
    resize: none;
    outline: none;
    width: 100%;
    flex: 1;
}