

.icon-module {
  background-image: url(../images/module.jpg);
}

.module-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: #f00; */
  /* opacity: 0.1; */
  box-sizing: border-box;
  border: 1px solid transparent;
  border-image: url(data:image/gif;base64,R0lGODlhCAAIAJAAAAAAAP///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQECgD/ACwAAAAACAAIAAACD4SDYZB6udpiaMJYsXuoAAAh+QQECgD/ACwAAAAACAAIAAACDYQRGadrzVRMB9FZ5SwAIfkEBAoA/wAsAAAAAAgACAAAAg8MDqGYaudeW9ChyOyltQAAIfkEBAoA/wAsAAAAAAgACAAAAg9MgGCXm+rQYtC0WGl9oQAAIfkEBAoA/wAsAAAAAAgACAAAAg+MgWCRernaYmjCWLF7qAAAIfkEBAoA/wAsAAAAAAgACAAAAg2MAwmna81UTAfRWeUsACH5BAQKAP8ALAAAAAAIAAgAAAIPRB6gmGrnXlvQocjspbUAACH5BAQKAP8ALAAAAAAIAAgAAAIPBIJhl5vq0GLQtFhpfaAAADs=);
  border-image-slice: 1;
  border-image-width: 1px;
  border-image-repeat: round;
}

/* 公共样式用vp-开头 */
.vp-pl20 {
  padding-left: 20px;
}
.vp-ml20 {
  margin-left: 20px;
}
/* 按钮（白、蓝、红三种样式） */
.vp-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
  color: #495060;
  background-color: #f5f5f5;
  border-color: #dddee1;
}
.vp-btn:hover {
  color: #6d7380;
  background-color: #f9f9f9;
  border-color: #e4e5e7;
}
.vp-btn-blue {
  color: #fff;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
}
.vp-btn-blue:hover {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.vp-btn-red {
  color: #fff;
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.vp-btn-red:hover {
  color: #fff;
  background-color: #f78989;
  border-color: #f78989;
}

/* 输入框的报错提示 */
.vp-error {
  border: 1px solid #F56C6C;
}

/* 必填项前的*号 */
.vp-mustRequierd {
  position: relative;
}
.vp-mustRequierd::before {
  content: "*";
  position: absolute;
  left: -7px;
  line-height: 1;
  font-family: SimSun;
  font-size: 12px;
  color: #ed3f14;
}

/* option模块的公共样式 */
.item-option-nav label {
  position: relative;
}
/* 必选框中label前的星号 */
.item-option-nav label.mustRequired::before {
  content: '*';
  color: red;
  position: absolute;
  left: -7px;
}
/* option模块的公共样式结束 */